/*GERAL ------------------------------------------------*/
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D2D4DF;
}

.subtitles
{
    font-size: 20px;
    color: #33343F;
}

/*INTRODUÇÃO ------------------------------------------------*/
#introdiv
{
    margin: 20px 10px 5px 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #A2A4AF;
    /*box-shadow: 7px 7px 3px #33343F44;*/
}

#imgcorinthiansesq
{
    position: absolute;
    left: 40px;
    top: 30px;
    width: 110px;
    height: 110px;
}

#imgcorinthiansdir
{
    position: absolute;
    right: 40px;
    top: 30px;
    width: 110px;
    height: 110px;
}

#pretitletxt
{
    text-align: center;
    font-weight: bolder;
    color: #FF3737;
}

#myname
{
    text-align: center;
    color:#33343F;
    text-shadow: 4px 4px 3px #33343F44;
}

#mydescription
{
    font-size: 20px;
    text-align: justify;
    color:#33343F;
}

/*HOBBIES E PAÍSES ------------------------------------------------*/
.maindiv {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #C2C4CF;
}

#leftdiv
{
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    flex:1;
}

#rightdiv
{
    margin: 0px 20px 0px 20px;
    padding: 10px;
    border-radius: 20px;
    flex:1;
}

#tablecountries
{
    padding: 5px;
    background-color: #92949F;
    border-radius: 20px;
}

#tablecountries th
{
    padding: 10px;
    border-radius: 20px;
    color: #33343F;
    font-weight: normal;
    font-style: italic;
}

#tablecountries td
{
    border-radius: 20px;
    min-width: 100px;
    max-width: 350px;
    height: auto;
}

.imgcountries
{
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#hobbieslist
{
    list-style: none;
}

#hobbieslist li
{
    color:#33343F;
    line-height: 40px;
    font-size: 15px;
    font-style: italic;
    background: url(images/ball.png) no-repeat left center;
    background-size: 20px 20px;
    padding-left: 30px;
}

#imghobby
{
    max-width: 500px;
    width: 100%;
    height: auto;
    padding: 8px;
    border-radius: 20px;
    background-color: #92949F;
}

a
{
    font-style: italic;
    font-size: 16px;
    background-color: #92949F;
    border-radius: 10px;
    padding: 10px;
    color:#33343F;
    margin-left: 20px;
}

a:hover
{
    color: #FF3737;
}