/*GERAL ------------------------------------------------*/
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D2D4DF;
    color:#33343F;
}

.subtitles
{
    font-size: 20px;
}

/*INTRODUÇÃO ------------------------------------------------*/
#introdiv
{
    text-align: center;
    margin: 20px 10px 5px 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #A2A4AF;
    /*box-shadow: 7px 7px 3px #33343F44;*/
}

#imgcorinthiansesq
{
    position: absolute;
    left: 40px;
    top: 30px;
    width: 10%;
    height: auto;
}

#imgcorinthiansdir
{
    position: absolute;
    right: 40px;
    top: 30px;
    width: 10%;
    height: auto;
}

#pretitletxt
{
    text-align: center;
    font-weight: bolder;
    color: #FF3737;
}

#myname
{
    text-shadow: 4px 4px 3px #33343F44;
}

#mydescription
{
    font-size: 20px;
    text-align: justify;
}

.negrito
{
    font-weight: bold;
}

#bt1
{
    background-color: #33343F;
    color: #F5F5F5;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    margin: 10px 0px;
    /*position: absolute;*/
}

#bt1:hover
{
    padding: 16px;
    box-shadow: 0px 0px 6px #33343F;
}

#bt1.btred
{
    background-color: #FF3737;
}

#extradiv
{
    font-weight: bold;
    font-style: italic;
}

/*CORPO ------------------------------------------------*/
.maindiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #C0C2CD;
}

#leftdiv
{
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    flex:5;
}

#rightdiv
{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
    flex:4;
}

#tablecountries
{
    min-width: 320px;
    max-width: 530px;
    padding: 5px;
    border-radius: 20px;
    background-color: #92949F;
}

#tablecountries tr
{
    background-color: #B2B4BF;
}

#tablecountries th
{
    padding: 10px;
    border-radius: 20px;
    font-weight: normal;
    font-style: italic;
}

#tablecountries th:hover
{
    box-shadow: 0px 0px 6px #33343FBB;
}

#tablecountries td
{
    border-radius: 20px;
    height: auto;
}

#tablecountries td:hover
{
    box-shadow: 0px 0px 6px #33343F;
}

.imgcountries
{
    width: 100%;
    height: auto;
    border-radius: 20px;
    vertical-align: middle;
}

#hobbieslist
{
    list-style: none;
}

#hobbieslist li
{
    line-height: 20px;
    margin: 5px 0px;
    font-size: 15px;
    font-style: italic;
    background: url(images/ball.png) no-repeat 5px center;
    background-size: 20px 20px;
    padding: 10px 10px 10px 30px;
    width: fit-content;
}

#hobbieslist li:hover
{
    box-shadow: 0px 0px 6px #33343F;
    border-radius: 10px;
}

#imghobby
{
    min-width: 280px;
    max-width: 500px;
    width: 100%;
    height: auto;
    padding: 8px;
    border-radius: 20px;
    background-color: #92949F;
}

a
{
    font-style: italic;
    font-size: 16px;
    border-radius: 10px;
    padding: 7px;
    margin-left: 25px;
}

a:hover
{
    color: #FF3737;
    box-shadow: 0px 0px 6px #33343F;
}